.root{
    -fx-font-family: "Helvetica";
}
.scroll-pane{
    -fx-background-color: transparent;
}
.label{
    -fx-font-size: 14;
    -fx-padding: 5;
}
.text-field{
    -fx-border-color: WHITE;
    -fx-background-radius: 3;
    -fx-border-insets: 5;
    -fx-padding: 3;
    -fx-border-radius: 3;
    -fx-background-insets: 5;
}